/*
Header

*/
.header-bottom,
.header-top {
    align-items: center;
}

.header-bottom {
   border-top: 1px solid #999999;
}

.header-container ul {
    list-style-type: none;
    display: flex;
}

.header-top-inner,
.header-bottom-inner {
    max-width: 1140px;
    margin: 0 auto;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-top-left,
.header-top-right,
.header-bottom-left,
.header-bottom-right {
    padding: 20px;
}

.header-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-title {
    margin-bottom: 0;
    color: #007bff;
}


.header-email {
    margin-right: 20px;
    color: #4d4d4d;
}

.header-phone {
    color: #4d4d4d;
}

.header-logos {
    display: flex;
    justify-content: flex-end;
}

.header-logos-list {
    justify-content: flex-end;
    margin-bottom: 0;
}

.logo__item {
    padding: 8px;
}

.top-menu {
    justify-content: flex-end;
    margin-bottom: 0;
}

.top-menu-item:last-child {
    padding-right: 0;
}

.top-menu-item {
    padding-right: 35px;
    padding-top: 5px;
}

.top-menu-link {
    font-size: 20px;
}

.top-menu-link:hover {
    text-decoration: none;
}

.logo-wrap {
    max-width: 110px;
}

.logo {
    max-width: 100%;
}

/*
Footer
*/

.footer {
    padding: 20px 0px;
    border-top: 5px solid rgba(255, 215, 92, 1);
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.footer-inner-contact {
    text-align: center;
}

.footer-logos-list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

img.hero-image {
    max-width: 100%;
}


/*hero*/

.main-content {
    background-color: #21255a;
    padding: 100px 0;
    border-bottom: 5px solid rgba(255, 215, 92, 1);
}

.main-content-text {
    text-align: center;
    color: #fff;
    font-size: 28px;
}

.hero-title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 50px;
}

/*
My story content
*/

.my-story-inner {
    margin-top: 70px;
}

.my-story-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.my-story-text {
    text-align: center;
    margin-bottom: 45px;
}

.my-story-inner-content {
    max-width: 800px;
    margin: 0 auto;
}

.my-story-image-wrap {
    max-width: 600px;
    margin: 0 auto;
}

.my-story-image {
    max-width: 100%;
}


/*
Experience
*/


.experience-section {
    padding: 10px 0 25px 0;
}

.experience-main-header {
    font-size: 48px;
    text-align: center;
    margin: 40px 0px;
    color: #21255a;
}

.experience-title {
    font-size: 36px;
    color: #21255a;
}

.experience-sub-header {
    font-size: 20px;
}

.experience-image-wrap {
    padding: 30px 0 35px 0;
}

.experience-image {
    max-width: 100%;
}



/*****

Shop Page

*****/

.shop-page .main-content {
    background-color: #fff;
}

.shop-row {
    margin: 0 auto;
    margin-bottom: 35px;
}

.shop-item {
    flex-basis: calc(1140px / 3 - 30px);
    margin-right: 30px;
}

.shop-item:last-child {
    margin-right: 0;
}

.shop-image-link:hover {
    text-decoration: none;
}

.shop-item-image-wrap {
    max-width: 100%;
    margin-bottom: 25px;
}

.shop-image {
    max-width: 100%;
    box-shadow: 0;
    transition: box-shadow 0.4s;
}

.shop-image:hover {
    box-shadow: 2px 2px 1px #515151;
}

.shop-item-title {
    font-size: 18px;
    text-align: center;
    color: #111111;
    font-weight: 300;
}

.shop-item-price {
    text-align: center;
    color: #111111;
    font-weight: 300;
}



/***** Mobile Styles *****/

@media only screen and (max-width: 767px) {
    .header-email {
        display: none;
    }

    .header-phone {
        display: none;
    }
}
