<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="https://use.fontawesome.com/5e8412d3f3.js"></script>
</head>

<body>
  <div class="main-container">
    <div class="header-container">
      <div class="header-top">
        <div class="header-top-inner row">
          <div class="header-top-left col">
            <a href="mailto:danglucktraining@gmail.com" class="header-email">DanGluckTraining@gmail.com</a>
          </div>
          <div class="header-top-right col">
            <div class="header-logos">
              <ul class="header-logos-list">
                <li class="logo__item"><a href="https://www.facebook.com/DanGluckTraining/"><i class="fa fa-facebook"
                      aria-hidden="true"></i></a></li>
                <li class="logo__item"><a href="https://twitter.com/GluckTraining"><i class="fa fa-twitter"
                      aria-hidden="true"></i></a></li>
                <li class="logo__item"><a href="https://www.instagram.com/danglucktraining/"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Header bottom -->

      <div class="header-bottom">
        <div class="header-bottom-inner row">
          <div class="header-bottom-left col">
            <div class="logo-wrap">
              <img src="./assets/DGT_Tank_logo-01.jpg" class="logo" />
            </div>
          </div>
          <div class="header-bottom-right col">
            <nav class="menu">
              <ul class="top-menu">
                <li class="top-menu-item"><a class="top-menu-link" href="#">Home</a></li>
                <li class="top-menu-item"><a class="top-menu-link" href="mailto:danglucktraining@gmail.com">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{ content }}
  <footer class="footer">
    <div class="footer-inner container">
        <div class="footer-inner-contact">
            <p class="footer-email"><a href="mailto:DanGluckTraining@gmail.com">DanGluckTraining@gmail.com</a></p>
            <p class="footer-city">Newton, MA, USA</p>
        </div>
        <div class="footer-logos row">
            <ul class="footer-logos-list">
                <li class="logo__item"><a href="https://www.facebook.com/DanGluckTraining/"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="logo__item"><a href="https://twitter.com/GluckTraining"><i class="fa fa-twitter"
                            aria-hidden="true"></i></a></li>
                <li class="logo__item"><a href="https://www.instagram.com/danglucktraining/"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
</body>

</html>